body {
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 40px;
}

.horizontal-menu {
    border-radius: 3px;
    display: inline-block;
    padding: 0 20px;
    margin: 0 auto;
    border: 1px solid #E2E2E2;
    background-color: #F2F2F2;
}

.horizontal-menu > li {
    display: inline-block;
}

.horizontal-menu a {
    display: block;
    position: relative;
    height: 40px;
    padding: 0 15px;
}

.horizontal-menu a:hover {
    background-color: #E2E2E2;
}

.caret::after {
    display: inline-block;
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid dimgray;
    border-bottom: 0;
    margin-left: 5px;
    vertical-align: middle;
}

.horizontal-menu li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    border: 1px solid #BEBEBE;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 10px #EAEAEA;
}

.sub-menu a {
    height: 30px;
    text-align: left;
    line-height: 30px;

}

.sub-menu a:hover {
    background-color: #f5f5f5;
}

.sub-menu li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.sub-menu li:last-child > a {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.separator {
    border-top: 1px solid #E0E0E0;
}