div {
	color: yellow;
}

.d1 {
	color: brown;
}

/*
table {
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	border: 2px solid black;
}
*/

.header {
	color: red;
}

.header {
	color: blue;
}